body {
    background-color: #ffffff;
}
.mat-toolbar-layout {
    background-color: #044D8D !important;
}
button:focus{background-color: transparent !important;}
ul,ul li{list-style: disc !important;}