body {overflow: inherit !important;padding-right: 0 !important;}
.riskTitle {border-left: 1px solid #fff;padding: 4px 12px;border-right: 1px solid #fff;}
.projectTitle {padding-left: 12px;}
.help-toolbar {padding-left: 0px !important }
.header-icons {position: absolute;right: 20px;top:20px;}
.header-apps-icon {margin-right: 10px;}
.header-apps-icon, .header-profile-icon {cursor: pointer;}
.custom-menu {top: 40px !important;position: absolute !important;}
.custom-menu div[role=document]:before{
        border-bottom: 5px solid #fff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        width: 0;
        top: -5px;
        right: 45px;
      }
      #menu- {
            position: absolute !important;
            ul {max-height: 250px;}
        }
      .custom-menu div[role=document] {left: initial !important;right: 10px !important;}
      .profile-menu div[role=document]:before {right: 11px !important;}
      .apps-menu ul,.apps-menu li {list-style-type: none !important;}
      .apps-menu-list div {text-align: center;width: 100px;}
      .apps-menu-list li {height: 85px !important;}
      .custom-menu div[role=document] {overflow: visible;}
      .apps-menu div[role=document] {height: auto;padding: 10px;width: 320px;max-height: none !important;}
      .apps-menu div,.apps-menu ul,.apps-menu ul:focus {outline: none !important;}
      .apps-menu-list {overflow: hidden !important}
.profile-view-icon,.sign-out-icon {margin-right: 20px;color: #777777;}
@media only screen and (max-width: 600px){    
    .projectTitle {display: none;}
    .riskTitle {border-left: none;padding: 0 12px;border-right: none;font-size: 16px;}
    .header-icons {top: 17px;}
    .custom-menu.apps-menu div[role=document]:before{right: 45px !important;}
    .profile-menu div[role=document]:before {right: 10px !important;}    
    }