@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css);
.custom-spinner{text-align: center;}
@media only screen and (max-width: 600px){
    .custom-mat-accordion + div strong.mobile-block {
        display: block;
    }
}