// @import url(http://faq.uctechnology.ucdavis.edu/wp-content/themes/twentyfourteen/style.css?ver=4.7.6);

.help-page .collapsible-body{color:#4a4a4a; display: block !important;}

:host /deep/ .search-highlight{font-weight: bold}
.feed-section {
    font-size: 14px !important;
    font-weight: 600 !important;
}
.feed-section ul {padding-left: 32px;}
@media only screen and (max-width: 360px){
    :host /deep/ .mat-button{min-width: 60px;}
}
 @media only screen and (max-width: 600px){
    .mobile-block { display: block;}
}