.help-page-left-section ul li a{
	display:block;
	padding:15px 65px;
	font-weight:bold;
	position:relative;
	color:#005581;
    margin-bottom:1px;
    font-size: 18px;
	cursor: pointer;
}
.help-page-left-section ul li a.active{
	background:#cee8ff;
}
.help-page-left-section ul li a.active::after {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #cee8ff;
    position: absolute;
    right: -12px;
    top: 15px;
    display: block;
    content: "";
}
.help-page-left-section ul li a:hover{
	background:#cee8ff;
}

.help-page-left-section{
    padding-left: 0px !important;
    line-height: 30px;
}

@media only screen and (max-width: 767px){   
    .help-page-left-section ul li a.active::after{
        display:none;
    }
    
    }

    @media only screen and (max-width: 600px){
        :host .help-page-left-section{padding: 0 .75rem;}
        .help-page-left-section ul, .help-page-left-section li {
            list-style-type: none !important;
        }
        }