

// .mat-expansion-panel-header:hover{background: #ffffff !important;}

.summary-collapsed,.summary-expanded {min-height: 0px !important;}
.summary-expanded {padding: 0 0px 0px 24px !important;}
span.arrow-down i{font-size: 30px !important;}
.mat-expansion-panel span.arrow-down {position:absolute;transform: rotate(-90deg) !important;top:-8px !important;left: -4px !important;}
.panel-expanded span.arrow-down {position:absolute;transform: rotate(0deg) !important;top:-5px !important;left: -5px !important;}
.panel-expanded .mat-expansion-panel span.arrow-down {position:absolute;transform: rotate(270deg) !important;top:-8px !important;left: -4px !important;}
.panel-expanded .panel-expanded span.arrow-down {position:absolute;transform: rotate(0deg) !important;top:-5px !important;left: -5px !important;}
.mat-expansion-panel{box-shadow: none !important; background: none !important;}
.mat-expansion-panel, .summary-collapsed div:first-child, .summary-expanded div:first-child {margin: 0 !important;}
highlight {font-weight: 600;}
// :host .mat-content{position: relative; overflow: inherit;}
// :host  .mat-expansion-indicator::after{display: none !important;position: relative;}
// :host  .mat-expansion-panel-header{height: auto !important;}
// :host  .mat-expansion-panel-content ul{padding-left: 20px;}
// :host  .mat-expansion-panel-content ul ul{margin-top: 10px; margin-bottom: 10px;}
// :host  .mat-expansion-panel-content ul li{list-style: disc !important; margin-bottom: 5px;line-height: 17px;}
// :host  .mat-expansion-panel{margin-bottom: 15px;}
// :host  .mat-expansion-panel-body {
//     margin: 0 24px 0px !important;
// }
// :host .mat-expansion-panel-body{
//     overflow: inherit;
// }
.collapsible-all { cursor: pointer; color: #005580; text-align: right; display: inline-block;  font-size: 12px; top: 2px; right: 0; position: absolute; }
.help-page-right-section{
    padding-left: 50px !important;
}
:host .search-highlight{font-weight: bold;}
.help-page-right-section h5{margin: 1.82rem 0 .656rem 0;}
:host .mat-expansion-panel:last-child{margin-bottom: 0;}
:host .mat-expansion-panel:first-child{margin-top: 15px;}
:host .help-page-right-section .mat-expansion-panel-header-title{display: block;}
:host .mat-progress-spinner circle,:host .mat-spinner circle{stroke: #1E88E5 !important;stroke-dashoffset:56.5487px;}
:host .custom-spinner{margin: 0 auto; top: 50px;}
:host .custom-spinner-loading{text-align: center !important;width:100% !important; margin-top:20% !important}
.error-found{width:100px;height: auto;}
.position-relative{position: relative;}
.error-text{    position: absolute;
    top: 35px;
    left: 125px;
    width: 129px;
    font-size:14px;
}
.feed-section h4{
    font-weight: 600 !important;
    font-size: 16px !important;
}
.help-text{font-size:13px;font-weight: bold}
.action-btns,.expansion-panel-body{ margin: 0px;}
.help-item-parent, .help-item-child {margin-top: 15px; }
.expansion-panel-body { padding-bottom: 0px !important; }
.action-btns{text-align: left; display: block !important;padding: 0 8px !important;}
.action-btns{margin-bottom: 10px !important;}
.action-btns button{background:#f4f5f7; color:#4a4a4a; text-transform:inherit;box-shadow:none; font-weight:bold;}
.action-btns button:hover,.action-btns button:focus{background:#d6d7d9; color:#4a4a4a; box-shadow:none;}
.feed-section{
    font-weight: normal !important;
    width: 100%;
    word-wrap: break-word;
    strong{
        font-weight: 600 !important; 
    }    
}
.action-btns strong{margin-left: 20px;}
.help-list-items {margin-top: 30px;}
.feed-section button:focus {background: #f4f5f7 !important;}
@media only screen and (max-width: 767px){
.help-page-right-section{padding: 0 .75rem !important;}

}

@media only screen and (max-width: 600px){
    :host .mat-expansion-panel-body{margin: 0 0px 16px;}
    :host .mat-expansion-panel-body iframe{width: 100% !important;height: auto !important;}
    :host  .mat-expansion-panel-content{width: 100%;}
    .help-list-items {margin-top: 0px;}
    }