#modal-title{  
    color: #467BAA;
    font-size: 18px;
    font-weight: normal;
}
textarea{height: 8rem; border: 1px solid #9e9e9e; margin-top: 15px;}
.modal-action-btns {
    text-align: right;
    margin: 24px 0 0 0;
    button:first-child{
        margin-right: 20px;
    }
    button{
        background: #ffffff;
        color: #1E88E5;
        border: 1px solid #1E88E5;
        border-radius: 0;
        padding: 0 50px;
        height: 46px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    button:hover{
        color: #1E88E5;
    }
    button:focus{

        background: #1E88E5 !important;
        color: #ffffff;

    }
}
.custom-modal-content{width: 500px !important;}
.custom-modal-content textarea {resize: none;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9e9e9e;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #9e9e9e;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #9e9e9e;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #9e9e9e;
  }
 
 .custom-modal-content h3 {margin-top: 15px;}
@media only screen and (max-width:600px){

.custom-modal-content{max-width: 80vw;}
.modal-action-btns {
    button{

        padding: 0 20px;
      
    }
    button:first-child{
        margin-right: 10px;
    }
}

}