.no-pad{padding:0 !important;}
.search-col{margin-left:4% !important;}
.dark-blue-bg{ background:#1e88e5;}
.light-blue-bg{ background:#cee8ff;}
.help-page-info{padding-top:40px !important; padding-bottom:30px !important;}
.container {width:100%;}

h3{color:#FFFFFF; font-size: 24px;font-weight: 300 !important;}
.contact-info h3{
	font-size:18px !important;
}
.help-page-info .input-field{ margin-top:0 !important; padding:0 !important;}
.help-page-info .input-field input{ margin-top:0 !important; width:96%; height:45px; border:none !important; background:#ffffff !important; padding:0 10px;}
.contact-info p, .contact-info a{color:#ffffff; margin-bottom: 0; margin-top: 5px;}
.contact-info i {position: relative; top: 5px; font-size: 22px;}
.custom-search-box div {color:#005581 !important;}

.custom-select{width: 200px; text-align: center; margin-top: 0px; color:#005581 !important; background: #cee8ff; text-transform:inherit; margin-bottom:10px; position:relative; float:left; height:45px; box-shadow:none; border-radius:0;}
.custom-select div {
	width: 100%;
	margin-top: 3px !important;
	margin-right: 23px !important;
	&:focus{
		background: none;
	}
}

.custom-dropdown:hover,.custom-dropdown:focus{background:#cee8ff;}
.custom-select svg{margin-right: 5px;color: #005581 !important;}
.no-border:before ,.no-border:after,.custom-search-box > div::before,.custom-search-box > div::after,.custom-select label{display: none;}
.custom-search-box {width: 100%; margin-top: 0 !important;height: 45px !important;background: #ffffff !important;}
.custom-dropdown i{position:relative; top:5px;}
.help-page-right-section .mat-expansion-panel svg{display: none;}
label + .custom-select-ddl {margin-top: 0px !important;}

@media only screen and (max-width: 767px){
.search-col{
	margin-left:0 !important;
}
}
@media only screen and (max-width: 600px){

 .help-page-info .input-field .mat-form-field{width:98%;}
 .help-page-left-section{padding: 0 .75rem !important;}
 .custom-select{width: 100%;}
 .custom-select div{width: 96%;}
}